<!DOCTYPE html>
<html>
    <head>
        <title>Amertos</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <link rel="icon" href="images/favicon.ico" sizes="32x32">
        <style>

            @page {
                size: A4;
                margin: 11mm 17mm 0 17mm;
            }
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                page-break-inside: avoid;
                page-break-after: avoid;
                page-break-before: avoid;
            }
            @font-face {
                font-family: 'muliblack';
                src: url('fonts/muli-black-webfont.woff2') format('woff2'),
                    url('fonts/muli-black-webfont.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }

            @font-face {
                font-family: 'mulibold';
                src: url('fonts/muli-bold-webfont.woff2') format('woff2'),
                    url('fonts/muli-bold-webfont.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }

            @font-face {
                font-family: 'muliextrabold';
                src: url('fonts/muli-extrabold-webfont.woff2') format('woff2'),
                    url('fonts/muli-extrabold-webfont.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'mulisemibold';
                src: url('fonts/muli-semibold-webfont.woff2') format('woff2'),
                    url('fonts/muli-semibold-webfont.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'muliregular';
                src: url('fonts/muli-webfont.woff2') format('woff2'),
                    url('fonts/muli-webfont.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'mulilight';
                src: url('fonts/muli-light-webfont.woff2') format('woff2'),
                    url('fonts/muli-light-webfont.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }

            @font-face {
                font-family: 'mulimedium';
                src: url('fonts/muli-medium-webfont.woff2') format('woff2'),
                    url('fonts/muli-medium-webfont.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }
            body {
                font-family: 'mulilight';
                color: black;
                font-size: 16px;
            }
            .container {
                width: 100%;
            }
            .logo {
                width: 100%;
                text-align: right;
            }
            .logo img {
                outline: 0;
            }
            h1 {
                font-family: 'muliblack';
                font-size: 40px;
                line-height: 100%;
                margin: 30px 0;
            }
            h2 {
                font-family: 'muliextrabold';
                font-size: 20px;
                margin: 50px 0 10px;
            }
            h3 {
                font-family: 'muliextrabold';
                font-size: 20px;
            }
            h4 {
                font-family: 'muliregular';
                font-size: 16px;
                margin: 0 0 5px;
            }
            .row {
                padding: 40px 0;
                border-bottom: #eaeaea 1px solid;
            }
            .row:last-child {
                border-bottom: 0;
            }
            .item {
                overflow: hidden;
                margin: 20px 0 0;
            }
            .item-image {
                float: left;
                width: 53px;
                height: 53px;
                margin: 0 15px 0 0;
            }
            .item-image img {
                max-width: 100%;
            }
            .item-content {
                float: left;
                margin: 3px 0 0;
                width: calc(100% - 68px);
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="logo">
                    <img src="ametros-logo.png" alt="ametros">
                </div>
                <h1>Final Feedback</h1>
                <p>
                    The marketing concept is the strategy that firms implement to satisfy customers’ needs, increase sales, maximize profit and
                    beat the competition. There are 5 marketing concepts that organizations adopt and execute. Marketing is a department of
                    management that tries to design strategies that will build profitable relationships with target consumers. But what philosophy
                    is the best for a company in setting marketing strategies? Marketing is a department of management that tries to design
                    strategies.
                </p>
                <h2>Here is your performance in this Module</h2>
                <div class="row">
                    <h3>The Drafting Process</h3>
                    <div class="item">
                        <div class="item-image"><img src="success-icon.png" alt="success"></div>
                        <div class="item-content">
                            <h4>Persuasion (Logical Argumentation)</h4>
                            <p>
                                You are able to deliver the correct data with no opinion attached. Your delivery is concise and formatted effectively
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-image"><img src="idle-icon.png" alt="idle"></div>
                        <div class="item-content">
                            <h4>Rapport Building</h4>
                            <p>
                                You are able to deliver the correct data with no opinion attached. Your delivery is concise and formatted effectively
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h3>Quiz</h3>
                    <div class="item">
                        <div class="item-image"><img src="develop-icon.png" alt="develop"></div>
                        <div class="item-content">
                            <h4>Business Communication</h4>
                            <p>
                                80/100
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h3>Negative Information Strategy</h3>
                    <div class="item">
                        <div class="item-image"><img src="success-icon.png" alt="success"></div>
                        <div class="item-content">
                            <h4>Persuasion (Logical Argumentation)</h4>
                            <p>
                                You are able to deliver the correct data with no opinion attached. Your delivery is concise and formatted effectively
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-image"><img src="idle-icon.png" alt="idle"></div>
                        <div class="item-content">
                            <h4>Rapport Building</h4>
                            <p>
                                You are able to deliver the correct data with no opinion attached. Your delivery is concise and formatted effectively
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h3>The Drafting Process</h3>
                    <div class="item">
                        <div class="item-image"><img src="success-icon.png" alt="success"></div>
                        <div class="item-content">
                            <h4>Persuasion (Logical Argumentation)</h4>
                            <p>
                                You are able to deliver the correct data with no opinion attached. Your delivery is concise and formatted effectively
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-image"><img src="idle-icon.png" alt="idle"></div>
                        <div class="item-content">
                            <h4>Rapport Building</h4>
                            <p>
                                You are able to deliver the correct data with no opinion attached. Your delivery is concise and formatted effectively
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
